<preference>
	<gap:splash src="assets/img/hdpi.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="assets/img/hdpi.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="assets/img/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="assets/img/hdpi.png" gap:platform="android" gap:density="xhdpi" />
</preference>