<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.app-test"
        version   = "1.0.0">

    <name>App-test</name>

    <author href="http://trilh.us" email="victorcostadev@gmail.com">
        Victor Costa
    </author>

    <!-- Define app splash screen for each platform. -->
    <gap:splash src="assets/img/hdpi.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="assets/img/hdpi.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="assets/img/hdpi.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="assets/img/hdpi.png" gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="assets/img/hdpi.png"         gap:platform="blackberry" />
    <gap:splash src="assets/img/hdpi.png"    gap:platform="ios"     width="320" height="480" />
    <gap:splash src="assets/img/hdpi.png" gap:platform="ios"     width="640" height="960" />
    <gap:splash src="assets/img/hdpi.png"      gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="assets/img/hdpi.png"     gap:platform="ios"     width="1024" height="768" />
    <gap:splash src="assets/img/hdpi.png" gap:platform="winphone" />
</widget>